table.table.table-striped.table-bordered.table-hover.contacts.users
  thead
      tr
        th.text.name Name
        th.text.email Email
        th.text.address Address
        th.text.zipcode Zipcode
        th.text.city City
        th.text.state State
        th
  tbody
    each user in users
      tr(id='id_' + user._id)
        td.text.name= user.name
        td.text.email= user.email
        td.text.address= user.address
        td.text.zipcode= user.zipcode
        td.text.city= user.city
        td.text.state= user.state
        td
          a#message(href="#") Message